# Primeiro estudo de sqlite3 usando python

## Capítulo 6 do Curso de análise de dados com python da data Science Academy

### Este notebook é apenas um esboço para fins de estudo e por isso será mal documentado

In [1]:


import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
import sqlite3

In [3]:
con = sqlite3.connect("escola.db")

In [4]:
type(con)

sqlite3.Connection

In [5]:
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
sql_create = 'create table cursos '\
          '(id integer primary key, '\
          'titulo varchar(100), '\
          'categoria varchar(140))'

In [8]:
cur.execute(sql_create)

In [9]:
sql_insert = "insert into cursos values (?, ?, ?)"

In [10]:
recset = [(1001, "Ciência de Dados", "Data Science"),
          (1002, "Big data Fundamentos", "Big Data"),
          (1003, "Python Fundamentos","Análise de Dados")]

In [11]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [12]:
con.commit()

In [13]:
sql_select = "select * from cursos"

In [14]:
cur.execute(sql_select)
dados = cur.fetchall()

In [15]:
for linha in dados:
    print("curso id # %d, Título %s , área %s" % linha)

curso id # 1001, Título Ciência de Dados , área Data Science
curso id # 1002, Título Big data Fundamentos , área Big Data
curso id # 1003, Título Python Fundamentos , área Análise de Dados